<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="mysuite">

    <test name="mytests">


        <!-- to run specific groups - by default all the tests will be excluded, if we want to run a specific group of 
        test cases then we need to inlcude groups tab in testng.xml file -->
        <groups>
            <run>
                <!-- includes a specific group of test cases  -->
                <!-- <include name="sanity"/> -->
                <!-- to include multiple groups add - another include  -->
                <!-- <include name="regression"/>  -->
                <!-- exclude a specific group of test cases  -->
                <!-- <exclude name="regression"/> -->
            </run>
        </groups>
        <classes>
            <class name="com.sample.TestNG.TestNG"/>
            <class name="com.sample.TestNG.TestNG1"/>
            <class name="com.sample.TestNG.TestNG2"/>
            <class name="com.sample.TestNG.TestNG3"/>
            <class name="com.sample.TestNG.TestNG4"/>
            <class name="com.sample.TestNG.TestNG5"/>
            <class name="com.sample.TestNG.TestNG6"/>
            <!-- all of the test cases of testng7 will fail since valid credentials are not available  -->
            <!-- <class name="com.sample.TestNG.TestNG7"/>  -->
        </classes>
    </test>
</suite>